
<html>
<head>
<title>Conversor</title>
</head>
<body>
<p>Conversor de Celsius a Kelvin y Fahrenheit</p>
<form action="/conversor/kelvin" method="get">
	  Celsius: <input type="number" autofocus="autofocus" required="required" name="celsius">
	  <input type="submit" value="Convertir">
	</form>
	
</body>
</html>