
<html>
<head>
<title>Conversor</title>
</head>
<body>
<p>Conversor de Celsius a Kelvin y Fahrenheit</p>
<ul>
<li>Celsius: {{celsius}}</li>
<li>Kelvin: {{kelvin}}</li>
<li>Fahrenheit: {{fahrenheit}}</li>
</ul>
</body>
</html>